<div id="__viscontainer" class="row">

  <div class="row col-md-offset-1 col-md-11">
    <h1>VisGraph</h1>


    <div id="__info" class="row col-md-12">
      <div class="__infodiv col-md-3">The graph is still stabilizing: <br> If you want to skip the stabilizing screen,
        press this button.
      </div>
      <input class="__visbutton col-md-2" type="button" value="Show result!" ng-click="showResult()"/>

      <div class="__infodiv col-md-3">If you want to get all paths between two nodes, click this button and select two
        different nodes. To deactivate this function, click again.
      </div>
      <input class="__visbutton col-md-2" type="button" value="PATH" ng-click="deactivateCtrlListener()"/>

      <div id="__vispathstatus" class="__infodiv col-md-2">PATH is not activated.</div>

    </div>

    <vis-graph class="row col-md-12" id="__visgraph" ng-show="showViz" settings="settings" graph="graph"
               show-result="showResult"></vis-graph>

    <div class="row col-md-12" id="__visoverlay" ng-show="showOverlay">
      <img id="__visloading" class='loading' src="../../images/loading.gif"
           alt="loading gif ..."/>
    </div>


  </div>


</div>
